body {
  background: aqua;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  color: darkblue;
}
h3 a {
  color: aliceblue;
}
a {
  color: antiquewhite;
}
a:hover {
  color: blue;
}
h4 {
  font-style: italic;
  text-align: right;
}
p {
  color: sandybrown;
  text-align: center;
}
.merah {
  color: black;
  text-align: right;
}
